*,
::before,
::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font: 16px 'Raleway', sans-serif;
}

body {
  font-size: 1rem;
  height: 100vh;
  margin: 0;
  width: 100vw;
  overflow-y: hidden;

  @media screen and (max-width: 648px) {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}


@import url(http://fonts.googleapis.com/css?family=Merriweather:400,900italic,300italic,300,400italic,700,700italic,900);
