.grid {
  &__container {
    flex: 0 0 100vw;
    position: relative;
    padding: 0 15px;
    height: 100vh;
    max-width: 100vw;

    @media screen and (max-width: 1224px) {
      font-size: 0.8em;
    }

    @media screen and (max-width: 768px) {
      font-size: 0.6em;
    }

    @media screen and (max-width: 648px) {
      font-size: 0.8em;
      height: auto;
      flex: 0 0 auto;
    }

    &--intro {
      background-image: url("/assets/img/banner.png");
      background-repeat:no-repeat;
      background-size: cover;
      background-position: top;
    }

    &--large {
      flex: 0 0 75vw;
      max-width: 75vw;

      @media screen and (max-width: 648px) {
        flex: 0 0 auto;
        max-width: 100vw;
      }
    }

    &--half {
      flex: 0 0 50vw;
      max-width: 50vw;

      @media screen and (max-width: 648px) {
        flex: 0 0 auto;
        max-width: 100vw;
      }
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    position: relative;
    width: 100vw;

    &--column {
      flex-direction: column;
    }

    &--large {
      width: 75vw;
      @media screen and (max-width: 648px) {
        width: 100vw;
      }
    }

    &--half {
      width: 50vw;

      @media screen and (max-width: 648px) {
        width: 100vw;
      }
    }
  }

  &__column {
    align-items: center;
    color: $white;
    display: flex;
    flex: 0 0 auto;
    height: 50vh;
    max-width: 100%;
    padding: 0 15px;
    position: relative;

    @media screen and (max-width: 648px) {
      height: 33.33vh;
    }

    .image__icon{
      max-width: 140px;
      text-align: center;

      @media screen and (max-width: 648px){
        max-width: 50px;
      }
    }

    .image__container {
      margin: 0 auto;
      text-align: center;
    }

    &--background {
      background-image: url("/assets/img/coding-background.jpg");
      background-repeat:no-repeat;
      background-size: cover;
      background-position:center;
    }

    &--terms {
      background-image: url("/assets/img/man-coffee-cup-pen.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &--downloads {
      background-image: url("/assets/img/coffee-and-laptop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      @media screen and (max-width: 648px){
        order: 1;
      }
    }

    &--half {
      flex-basis: 50vw;
      max-width: 50vw;

      @media screen and (max-width: 648px) {
        flex-basis: 100vw;
        max-width: 100vw;
      }
    }

    &--quarter {
      flex-basis: 25vw;
      max-width: 25vw;

      @media screen and (max-width: 648px) {
        flex-basis: 33.33vw;
        max-width: 33.33vw;
      }
    }

    &--large {
      height: 66.66vh;

      @media screen and (max-width: 648px) {
        height: 33.33vh;
        max-height: 33.33vh;
        flex-basis: 100vw;
        max-width: 100vw;
      }
    }

    &--medium {
      height: 33.33vh;
    }

    &--small {
      height: 25vh;

      @media screen and (max-width: 648px) {
        max-width: 50vw;
        height: 33.33vh;
        max-height: 33.33vh;
      }
    }

    &--third{
      flex-basis: 33.33vw;
      max-width: 33.33vw;

      @media screen and (max-width: 648px) {
        flex-basis: 33.33vw;
        max-width: 33.33vw;
      }
    }

    &--green { background-color: $de-york; }

    &--red { background-color: $carnation; }

    &--blue { background-color: $robin-egg-blue; }

    &--first {
      text-align: center;
      @media screen and (max-width: 648px) {
        order: 1;
      }
    }

    &--second {
      @media screen and (max-width: 648px) {
        order: 2;
      }
    }

    &--tertiary {
      @media screen and (max-width: 648px) {
        order: 3;
      }
    }

    &--fourth {
      @media screen and (max-width: 648px) {
        order: 4;
      }
    }

    &--fourth, &--fifth, &--sixth {
      flex-basis: 33.33vw;
      max-width: 33.33vw;
    }

    &--fifth {
      @media screen and (max-width: 648px) {
        order: 5;
      }
    }

    &--sixth {
      @media screen and (max-width: 648px) {
        order: 6;
      }
    }

    &--last {
      @media screen and (max-width: 648px) {
        flex-basis: 33.33vw;
        max-width: 33.33vw;
      }
    }
  }
}
