.heading{
  //width: 100%;
  //text-align: center;
  position: relative;
  margin: auto;

  &::after {
    content: '';
    position: absolute;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border-bottom: #ffffff 2px solid;
  }

  &--qoute {
    //border-bottom: none;
    font-weight: bold;
    font-style: italic;
  }
}
