.heading{
  position: relative;
  margin: auto;
  cursor: pointer;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    border-bottom: $white 2px solid;
  }

  &--qoute {
    font-weight: bold;
    font-style: italic;
  }
}
