.footer {
  flex: 0 0 5vw;
  position: relative;
  padding: 0 15px;
  height: 100vh;
  max-width: 100vw;
  background-color: $de-york;
  margin-top: 5px;

  &__icon {
    color: $white;
    border: 2px solid $white;
    padding: 5px;
    text-align:center;
    vertical-align: center;
    font-size: 0.8em;
  }

  &__logo {
    width: 100%;
    height: auto;
    max-width: 20px;
    align-self: flex-end;
  }
}
