.nav-section{
  background-color: #75C398;
  width: 100px;
  height: 100px;
  .main-nav {
    ul {
    	margin: 0 0 0 0;
    	padding: 200px 0 0 0;
      list-style: none;
      li {
        margin: 3px 0px 3px 30px;
        a {
          font-family: Raleway medium;
          font-size: 18px;
          text-transform: uppercase;
          color: #ffffff;
        	text-decoration: none;
        }
      }
    }
  }
  .register-project{
    background-color: #f56462;
    color: #ffffff;
    height: 30px;
    width: 180px;
    margin:250px 0 0 20px
  }
}

.nav-section:hover{
    animation-name: display;
    animation-duration: 2s;
}

@keyframes display {
    from {height: 100px;}
    to {height: 100vh;}
    from {width: 100px;}
    to {width: 220px;}
}
